# https://www.toptal.com/developers/gitignore/

### Helm ###
# Chart dependencies
**/charts/**/*.tgz

render/
# Generated local Kubernetes credentials
/config/kubeconfig.yaml

### Miscellaneous ###
logs/
*.log

### Dotenv ###
# Ignore dotenv files (unencrypted), allow encrypted files with .enc
.env
.env.*
!.env.enc
!.env.*.enc

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Certificates ###
*.pem
*.key
*.crt
*.cer
*.der
*.priv
